*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.wrapper{
    display: flex;
    justify-content: space-evenly;
    height: 100vh;
    padding: 50px;
    flex-wrap: wrap;
    background-color: #f1f1f1;
}
.profile-pic{
    width: 95%;
    height: 95%;

}
.right{
    width: 35%;

}
.left{
    width: 379px
}
.box{
    margin-bottom: 10px;
    background-color: white;
    border-radius: 15px;
    padding-bottom:30px;
    padding-top: 15px;
    padding-left: 25px;
    padding-right: 23px;

}
h1{
    margin-bottom: 5px;
    font-size: 24px;
    font-family: "Ubuntu", sans-serif;
    font-weight: 500;
    font-style: normal;

}
h2{
    font-size: 18px;
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
    font-style: normal;

}
li{
    list-style: none;
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
    font-style: normal;
}
p{
    line-height: 1.3em;
    font-size: 13px;
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
    font-style: normal;
}
a{
    font-size: 13px;
    color: #522756;
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.icon{
    margin-right: 5px;
    text-decoration: none;
    align-content: center;
}
.instagram{
    width: 20px;
    height: 20px;

}
.linkedin{
    width: 20px;
    height: 20px;
}
.card{
    background-color: #f1f1f1;
    padding:10px;
    margin-bottom: 10px;
    border-radius: 5px;
}
.text{
    letter-spacing: 5px;
    font-family: monospace;
    border-right: 5px solid;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    animation:typing 2s steps(17),cursor .4s step-end infinite alternate;
}
@keyframes cursor {
    50% {border-color:transparent}

}
@keyframes typing {
    from{width:0}
}
.name{
    margin-bottom: 3px;
}
.hyperlinks{
    color: #454F80;
}
